{% extends "base_nosearch.html" %} {% block content %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body
  style="
    background: url('https://previews.123rf.com/images/faizalramli/faizalramli1906/faizalramli190600048/124375871-top-view-of-notebook-pen-plant-coffee-and-glasses-on-grey-grunge-floor-written-with-about-us-.jpg?fj=1');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  "
>
<style>
  #idLinkedInIcon{background-color:rgb(0, 102, 170);border-radius:6px;color:white;cursor:pointer;display:inline-block;font:bold 25px Arial, Helvetica, sans-serif;height:35px;margin-top:1px;text-align:center;width:35px;}
#idLinkedInIcon:hover{background-color:#06d;}
</style>

    <h1>
      <p style="font-family:Courier; color:rgb(16, 14, 20)">
        About</h1>
    
    <p>
      <p>
        <p style="font-family:Courier; color:wHITE; font-size: 20px;">
      This website allows students at CWU to rate and review the various dining
      options on the CWU Ellensburg campus. It was designed as a group project
      for CS380 Introduction to Software Engineering. This site was created by:
    </p>
    </p>
    <br />
    <div class="row">

    <div class = "card-group">
    <div class="card">
      
      <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Abdiasis Abdi</b></h4>
        <p>CS Major</p>
        <p>Email: <a href = "#"> abdiabdia@cwu.edu </p> </a>
        <p>Git: <a href="https://github.com/abdiasis"> abdiasis</p></a>
        <p><div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/abdiasis-abdi-a7865612a/');" title="Abdi">in</div></p>


      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <br />
    <div class="card">
      
      <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Ibrahim Sydock </b></h4>
        <p>CS Major & Art Minor</p>
        <p>Email: <a href = "#">  sydockI@cwu.edu</p></a>
        <p>Git: <a href="https://github.com/sharktrexer"> sharktrexer</p></a>
        <p><div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/ibrahim-sydock-7b4840224/');" title="Ibrahim">in</div></p>
     </div>
    </div>
  </div>
    <br />
    &nbsp;&nbsp;&nbsp;
    <div class ="card-group">
    <div class="card">
      
      <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Nathnael Seleba</b></h4>
        <p>CS Major & Math Minor</p>
        <p>Email: <a href = "#"> SelebaN@cwu.edu</p></a>
        <p>Git: <a href="https://github.com/Nathnael7"> Nathnael7</p></a>
        <p><div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/nathnael-seleba');" title="Nathnael">in</div></p>
      </div>
    </div>
    <br />
    &nbsp;&nbsp;&nbsp;
    <div class="card">
      
      <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Ryan Angliss </b></h4>
        <p>CS Major & Math Minor</p>
        <p>Email: <a href = "#"> anglissr@cwu.edu</p></a>
        <p>Git: <a href="https://github.com/anglissr"> anglissr</p></a>
        <p><div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/ryanangliss/');" title="Ryan A">in</div></p>
      </div>
    </div>
  </div>
    <br />
    &nbsp;&nbsp;&nbsp;
    <div class="card-group">
    <div class="card">
      
      <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Ryan G</b></h4>
        <p>CS Major</p>
        <p>Email: <a href = "#"> GolobRyan.Golob@cwu.edu</p></a>       
        
        
     
      </div>
    </div>
    <br />
    &nbsp;&nbsp;&nbsp;
    <div class="card">
      
      <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width: 100%" />
      <div class="container">
        <h4><b>Tafesswork Tafesse</b></h4>
        <p>CS Major & Math Minor</p>
        <p>Email: <a href = "#"> Tafesswork.tafesse@cwu.edu</p></a>              
        <p>Git:<a href="https://github.com/taf3sse"> taf3sse</p></a>
        <p><div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/tafesswork-tafesse/');" title="Tafesse">in</div></p>

    </div>
    </div>
    </div>

  </div>

    <br />
    <br />
    
     
 
    <br />
  </body>

  <footer> <p style="font-family:Courier; color:wHITE; font-size: 20px;" id="copyright">Copyright &copy; 2022 by CWU Students.</p> </footer>
</html>
{% endblock %}
